@charset "utf-8";
/*
 * 变量文件
 */

/* 路径
 ----------------------------------------------------------*/
 $imagespath : "../images/";
 $spritepath : "../images/sprite.png";

/* 配色
 ----------------------------------------------------------*/
 $main-bg :              #fff;
 $main-text-color :      #000;
 $meny-arrow-color :     #c9d9f2;
 $border-color :         #c9d9f2;
 $logo : url($spritepath) no-repeat 0 -252px;
 $theme-bg : url($spritepath) no-repeat 0 0;
 $about-bg : url($spritepath) no-repeat -739px -295px;
 $hr-bg : url($spritepath) no-repeat -832px -295px;

 $header-bg : #1b1b1b;

 $container-bg : #edf1f6;
 $banner-bg : #071338;

 $footer-bg : #121111;

 /* 布局
 ----------------------------------------------------------*/
 $sub-width :         auto;
 $extra-width :       auto;
 $main-width :        1100px;

 $header-height :     78px;
 $header-fix-height : 60px;

 $container-essay-width : 298px;
 $container-essay-height : 211px;

 $footer-height :     170px;



/* 字体
 ----------------------------------------------------------*/

 $intro-font : normal 16px/32px Microsoft Yahei, Microsoft Jhenghei, Arial, sans-serif;
 $index-title-font: bold 32px/32px Microsoft Yahei, Microsoft Jhenghei, Arial, sans-serif;
 $index-info-font: 12px/12px Georgia, Microsoft Yahei, Microsoft Jhenghei, Arial, sans-serif;
 $footer-font : normal 14px/14px Arial, sans-serif;
 $comment-font: normal 14px/1.4 Microsoft Yahei, Microsoft Jhenghei, Arial, sans-serif;
