@charset "utf-8";

/* 圆角
 --------------------------------------------------*/
@mixin radius($radius:5px) {
    border-radius : $radius; 
    -webkit-border-radius : $radius; 
    -moz-border-radius : $radius;
    -ms-border-radius : $radius;
}

@mixin appearance($style:button) {
    appearance : $style;
    -moz-appearance : $style;
    -webkit-appearance : $style;
}

@mixin animation($name, $duration) {
    -webkit-animation : $name $duration;
       -moz-animation : $name $duration;
         -o-animation : $name $duration;
            animation : $name $duration;
}

@mixin rotate($value) {
    -webkit-transform : rotate($value);
       -moz-transform : rotate($value);
        -ms-transform : rotate($value);
         -o-transform : rotate($value);
}